html {
    width: 800px;
    height: 800px;
    background-color: gray;
}

body {
    width: 800px;
    height: 800px;
    background-image: url("/static/img/background.jpg");
}

h1 {
    position: fixed;
    color: lightgray;
    margin-top: 270px;
    margin-left: 255px;
}

/*  classes  */

.container {
    position: relative;
    left: 100px;
    top: 300px;
}

.enter-pin {
    position:relative;
    left: 255px;
    top: 310px;
}

.enter-pin-button {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
    padding-left: 50px;
    border: none;
    float: right;
    margin-top: 255px;
    color: cadetblue;
    font-size: 22px;
}

.enter-pin-button:hover {
    background-color: gray;
    color: lightgray;
}
