{% extends 'base.html' %}

{% block head %}{% endblock head %}




{% block body %}
<h1 class="enter-pin-h1">ENTER PIN</h1>

<a href="{{ url_for('index') }}"><button class="back-button">BACK</button></a>

<div class="enter-pin-field">
    <form action="{{ url_for('enter_pin', card_id=card_id) }}" method="POST">
        <input type="number" name="card-id" value="{{ card_id }}" class="enter-pin-card-id">
        <input type="password" name="user-pin" maxlength="4" class="enter-pin" required>
        <button type="submit" value="ENTER" class="enter-pin-button">ENTER</button>
    </form>

</div>

<p class="testing-info-pin">
    Testing environment card/PIN: 1893/9832, 8931/1392, 9842/1112
</p>


{% endblock body %}
